*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    width: 100%;
    height: fit-content;
}

div.container > nav{
    width: 100%;
    background-image: linear-gradient(60deg, orangered,purple);
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}
div.container > nav > button{
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    transition: 400ms linear;
}
div.container > nav > button:hover{
 transform: translateY(-3px);
 text-shadow: 3px 3px 10px;
    
}

div.container > div.container-modal{
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
div.container > div.container-modal > div.modal{
    width: 60%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
}

div.modal > h1{
    text-align: center;
}
form > input, select{
    height: 30px;
    border-radius: 6px;

}
form > button{
    padding: 8px 0;
    background-image: linear-gradient(60deg, orangered,purple);
    border: none ;
    border-radius: 9px;
    color: white;
    transition: 400ms linear;
}
form >button:hover{
    transform: translateY(-3px);
}
div.container > div.toggleForm{
    display: flex;
}